*
!.gitignore
!.zshrc
!.p10k.zsh

!.backgrounds
!.backgrounds/**
!.scripts
!.scripts/**/*

!.config
!.config/btop
!.config/btop/**
!.config/fastfetch
!.config/fastfetch/**
!.config/gpu-screen-recorder
!.config/gpu-screen-recorder/**
!.config/gtk-*
!.config/gtk-*/**
!.config/hypr
!.config/hypr/**
!.config/kitty
!.config/kitty/**
!.config/MangoHud
!.config/MangoHud/**
!.config/nvim
!.config/nvim/**
!.config/quickshell
!.config/quickshell/**
!.config/waybar
!.config/waybar/**
!.config/waypaper
!.config/waypaper/**
!.config/wofi
!.config/wofi/**
!.config/xdg-*
!.config/xdg-*/**
!.config/xsettingsd
!.config/xsettingsd/**